<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Модератор панель — RoleMaster</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/moderator.css}">
    <link rel="icon" th:href="@{/images/favicon.ico}">
</head>
<body>
    <div class="cloud"></div>
    <div class="cloud"></div>
    <div class="cloud"></div>
    <div class="cloud"></div>

    <header class="main-header">
        <h1 class="main-title">☁️ RoleMaster</h1>

        <nav class="header-nav">
            <a th:href="@{/index}"><button class="nav-button" type="button">Главная</button></a>
            <a th:href="@{/profile}"><button class="nav-button" type="button">Профиль</button></a>
            <a th:href="@{/story}"><button class="nav-button" type="button">Сюжет</button></a>
            <a th:href="@{/support}"><button class="nav-button" type="button">Поддержка</button></a>
            <a sec:authorize="hasAnyRole('MODERATOR', 'ADMINISTRATOR')" th:href="@{/moderator}">
                <button class="nav-button" type="button">Модератор панель</button>
            </a>

            <a sec:authorize="hasRole('ADMINISTRATOR')" th:href="@{/admin}">
                <button class="nav-button admin-button" type="button">Админ панель</button>
            </a>

        </nav>

        <form id="logoutForm">
            <button type="submit" class="nav-button logout-button">Выйти из аккаунта</button>
        </form>
    </header>

    <main class="main-content-container">
        <h2 class="section-title" data-emoji="🛡️">Модератор панель</h2>

        <div id="container">
            <h3 id="welcome-message" class="welcome"></h3>

            <!-- Новые обращения -->
            <div class="data-block">
                <h3 class="block-title">🆕 Новые обращения</h3>
                <div id="container-tickets-new" class="cards-container"></div>
            </div>

            <!-- Обработанные обращения -->
            <div class="data-block">
                <h3 class="block-title">✅ Обработанные обращения</h3>
                <div id="container-tickets-answered" class="cards-container"></div>
            </div>
        </div>
    </main>

    <footer>
        <div class="footer-content">
            <p>Произведено с любовью командой <strong>alowe17</strong>.</p>
            <p>© 2025 RoleMaster. Все права защищены.</p>
            <div class="footer-links">
                <a href="mailto:p.danil51007@gmail.com">Почта</a>
                <span>•</span>
                <span>Telegram: @Danya_JavaCoder</span>
                <span>•</span>
                <a href="https://github.com/alowe17">GitHub: Alowe17</a>
            </div>
        </div>
    </footer>

    <script th:src="@{/js/moderator/moderator.js}"></script>
</body>
</html>